.calendar-box {
    position: relative;
    height: 880px;
}

tbody {
    td {
        height: 60px;
        width: 15%;
    }
}

div[class*="new-event-"] {
    position: absolute;
    // top: 305px;
    // left: 350px;
    width: 200px;
    height: 33px;
    background-color: blue;
}

#new-event-1 {
    position: absolute;
    top: 305px;
    left: 350px;
    width: 200px;
    height: 33px;
    background-color: blue;
}
